.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  margin: 0 auto;
  width: 80vw;
}
.imageBanner {
  height: 80px;
  width: 100px;
  overflow: hidden;
  object-fit: cover;
}
.imageContainer {
  height: 80px;
  width: 100px;
}
.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.button {
  background-color: rgb(98, 98, 149);
  color: white;
  height: 40px;
  padding: 5px;
  font-size: larger;
  border-radius: 10px;
}
.actions {
  display: flex;
  gap: 5px;
}
.table {
  border-collapse: collapse;
  margin-top: 5px;
}
.trow {
  align-items: center;
  border-bottom: 1px dotted black;
}
.endText {
  text-align: right;
}
.tableHead {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 5px;
  align-items: center;
  text-align: center;
}
.submitBtn {
  background-color: rgb(98, 98, 149);
  color: white;
  width: 100%;
  padding: 5px;
  font-size: larger;
  border-radius: 10px;
}
