.fullWidth {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #e8d5d5cc;
}
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}
.inputDiv {
  display: flex;
  gap: 10px;
}
.loginButton {
  width: 50%;
  padding: 5px;
  border-radius: 5px;
}
:hover .loginButton {
  cursor: pointer;
}
